# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "82c89c55a3392aae57825a735c414d54"
name = "Tigren App"
handle = "tigren-app"
application_url = "https://investigators-coating-tourism-puzzle.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "quickstart-691521f8.myshopify.com"
include_config_on_deploy = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [
  "https://investigators-coating-tourism-puzzle.trycloudflare.com/auth/callback",
  "https://investigators-coating-tourism-puzzle.trycloudflare.com/auth/shopify/callback",
  "https://investigators-coating-tourism-puzzle.trycloudflare.com/api/auth/callback"
]

[webhooks]
api_version = "2024-10"

  [[webhooks.subscriptions]]
  uri = "/webhooks/customers/data_request"
  compliance_topics = [ "customers/data_request" ]

  [[webhooks.subscriptions]]
  uri = "/webhooks/customers/redact"
  compliance_topics = [ "customers/redact" ]

  [[webhooks.subscriptions]]
  uri = "/webhooks/shop/redact"
  compliance_topics = [ "shop/redact" ]

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[pos]
embedded = false
